<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Varasija {{data.varasija}}.</title>
  </head>
  <body>
    <div class="mask hidden">
      <div class="statusBox">
        <p>
          Refreshing Data, Please Wait...
          <span class="material-icons">
            refresh
          </span>
        </p>
        <br />
        <h3>Remember to verify yourself from your OP App!</h3>
      </div>
    </div>
    <div class="container">
      <h1>Mode: {{env}}</h1>
      <h3>
        <a href="/refresh">PÄIVITÄ</a>
      </h3>

      <h1 class="varasija">Olet varasijalla:
        {{#if data}}{{data.varasija}}{{else}}EI DATAA{{/if}}
        {{#if varasija_erotus}}<div
            class="varasija_erotus"
          >({{varasija_erotus}})</div>{{/if}}
      </h1>
      <h1 class="paikka">Paikkoja jäljellä:
        {{#if data}}{{data.paikkoja_jäljellä}}{{else}}EI DATAA{{/if}}
        {{#if paikkojen_erotus}}
          <div class="paikkojen_erotus">({{paikkojen_erotus}})</div>{{/if}}
      </h1>
      <h3 class="päivitetty">viimeksi päivitetty:
        {{#if data}}{{data.päivämäärä}}{{else}}EI DATAA{{/if}}
      </h3>
    </div>
    {{#if error}}
      <div class="errorContainer">
        <h1>ERROR</h1>
        <h1 class="errorMsg">{{error.message}}</h1>
      </div>
    {{/if}}
    <script src="./js/display.js"></script>
  </body>
</html>